@model IEnumerable<PetShopLib.Models.PetShopProduct>

@{
    ViewData["Title"] = "PetShopDB";
}

<h1>PetShopDB</h1>

<p>
    <a asp-action="CreatePetShopDB">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditPetShopDB", new { ID=item.ID }) |
                @Html.ActionLink("Details", "DetailsPetShopDB", new { ID = item.ID }) |
                @Html.ActionLink("Delete", "DeletePetShopDB", new { ID = item.ID })
            </td>
        </tr>
}

    </tbody>
</table>
